#food-menu{
    position:relative;
    top:96px;
    padding-bottom: 94px;
}
.topic-flex-box{
    display:flex;
    flex-direction: column;
    padding:25px 0px;
}
.item{
    text-align: center;
    padding:15px 0px;
}
.menu-title{
    text-align: center;
    text-decoration: underline;
}
@media only screen and (min-width: 700px) {
    #food-menu{
        top:139px;
    }
    .topic-flex-box{
        flex-direction: row;
      
        justify-content: space-around;
    }
    .item{
        padding:30px 0px;
    }
}
@media only screen and (min-width: 1050px) {
    #food-menu{
        top:177px;
    }
}